<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ankit Text Utils-aboutus</title>
         <style>
            .container{
                padding-left: 200px;
                padding-right: 200px;
            }
            h1{
                display: flex; 
                justify-content: center; 
                align-items: center;
            }
           
         </style>
    </head>
    <body>
        <div class="container">
            <h1>About us</h1>

            <h3>
                <p >Welcome to Ankit text Utils, your go-to destination for quick and easy text transformations! Our goal is to make working with text simpler and more efficient by providing powerful tools that handle common text formatting tasks</p>
            </h3>
    
            <h2>Our Features:</h2>
            <ul>
                <li><b>Remove Punctuation: </b>Tired of dealing with punctuation marks in your text? Our tool will help you easily remove any punctuation, leaving you with clean and crisp text.</li>
                <li><b>Convert to Uppercase:</b> Whether you need to shout or just standardize your text, our tool can instantly convert your entire input into uppercase letters.</li>
                <li><b>Extra Space Remover: </b>Is your text full of extra spaces or tabs? Our tool helps eliminate unwanted spaces, ensuring your content is neat and properly formatted.</li>
                <li><b>Character Count:</b> Curious about the length of your text? Our character count tool lets you know exactly how many characters are in your input, helping you keep track of your text length</li>
            </ul>
    
            <h2>Why Choose Us?</h2>
            <ul >
                <li><b>Simplicity:</b> We believe in simplicity and ease of use. With just a few clicks, you can transform your text and save time.</li>
                <li> <b>Speed:</b> Our tools are designed to work quickly, providing you with instant results.</li>
                <li><b>Free to Use:</b> Enjoy all of our features at no cost – because everyone should have access to simple text tools without any barriers.v</li>
            </ul>
        </div>
        
    </body>
</html>