<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ankit Text Utils-contactus<!DOCTYPE html>
            <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <title>Ankit Text Utils-aboutus</title>
                     <style>
                        .container{
                            padding-left: 200px;
                            padding-right: 200px;
                        }
                        h1{
                            display: flex; 
                            justify-content: center; 
                            align-items: center;
                        }
                       
                     </style>
                </head>
                <body>
                    <div class="container">
                        <h1>Contact us</h1>
            
                        <h3>Thank you for visiting Ankit Text Utils! We are here to help you with any questions, feedback, or suggestions you may have regarding our text utilities tools. Feel free to reach out to us, and we'll get back to you as soon as possible.</p>
                        </h3>
                
                        <h2>Get in Touch:</h2>
                        <ul>
                            <li><b>Email:</b> akkikadam4e7@gmail.com Have a question or need support? Send us an email, and we’ll respond as quickly as we can.
                                
                                </li>
                            <li><b>Phone: </b>[Your phone number]
                                Prefer to talk to us? Call us during our working hours.
                                
                               </li>
                            <li><b> Social Media:</b>Follow us on [Facebook/Twitter/Instagram] to stay updated on new features and updates!</li>
                            
                        </ul>
                
                        <h2>Why Choose Us?</h2>
                        <ul >
                            <li><b>Simplicity:</b> We believe in simplicity and ease of use. With just a few clicks, you can transform your text and save time.</li>
                            <li> <b>Speed:</b> Our tools are designed to work quickly, providing you with instant results.</li>
                            <li><b>Free to Use:</b> Enjoy all of our features at no cost – because everyone should have access to simple text tools without any barriers.v</li>
                        </ul>
                    </div>
                    
                </body>
            </html></title>
    </head>
</html>